In [1]:
import pandas as pd

In [2]:
#import the data
mimic_path='/Users/jieche/Desktop/machine learning/mimic-iv-2.2/'

In [3]:
chunk_size = 1000000

# Read the CSV file in chunks and save each chunk as a CSV file
i = 0
for chunk in pd.read_csv(mimic_path + '/icu/chartevents.csv.gz', compression='gzip', chunksize=chunk_size):
    chunk.drop(['stay_id', 'caregiver_id', 'warning'], axis='columns', inplace=True)
    chunk.to_csv(f'chunk_{i}.csv', index=False)
    i += 1

# Read and concatenate the saved chunks into a single dataframe
chunks = []
for i in range(i):
    chunk = pd.read_csv(f'chunk_{i}.csv')
    chunks.append(chunk)

chartevents = pd.concat(chunks, ignore_index=True)

In [4]:
import pandas as pd

# 定义要筛选的itemid
items_to_select = [225401, 225437, 225444, 225451, 225454, 225814,
                   225816, 225817, 225818, 225722, 225723, 225724, 225725, 225726,
                   225727, 225728, 225729, 225730, 225731, 225732, 225733, 227726,
                   70006, 70011, 70012, 70013, 70014, 70016, 70024, 70037, 70041,
                   225734, 225735, 225736, 225768, 70055, 70057, 70060, 70063, 70075,
                   70083, 226131, 80220]

# 定义一个空的DataFrame，用于保存筛选后的数据
selected_data = pd.DataFrame()

# 遍历所有的chunk，逐个读取并筛选数据
for i in range(1, 314):
    # 读取当前chunk
    filename = 'chunk_{}.csv'.format(i)
    df = pd.read_csv(filename)
    
    # 筛选指定的itemid
    df_selected = df[df['itemid'].isin(items_to_select)]
    
    # 将筛选后的数据添加到空的DataFrame中
    selected_data = pd.concat([selected_data, df_selected])
    
    # 处理筛选后的数据...
    ...

In [5]:
selected_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 28194 entries, 5389 to 611372
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   subject_id  28194 non-null  int64
 1   hadm_id     28194 non-null  int64
 2   charttime   28194 non-null  object
 3   storetime   28194 non-null  object
 4   itemid      28194 non-null  int64
 5   value       28194 non-null  object
 6   valuenum    28194 non-null  float64
 7   valueuom    0 non-null      object
dtypes: float64(1), int64(3), object(4)
memory usage: 1.9+ MB

In [6]:
selected_data.head()

,subject_id,hadm_id,charttime,storetime,itemid,value,valuenum,valueuom
5389,10027602,28166872,2201-10-31 09:00:00,2201-10-31 09:54:00,225722,0,0.0,NaN
5795,10027602,28166872,2201-10-31 15:00:00,2201-10-31 15:05:00,225722,0,0.0,NaN
5832,10027602,28166872,2201-10-31 15:15:00,2201-10-31 15:06:00,226131,0,0.0,NaN
30497,10027730,23954590,2165-07-11 10:03:00,2165-07-11 12:04:00,225731,0,0.0,NaN
42131,10029291,22205327,2123-03-02 20:00:00,2123-03-03 00:21:00,225729,0,0.0,NaN

In [11]:
# 随机选取5行数据
sample_data = selected_data.sample(n=15)

# 输出结果
print(sample_data)

        subject_id   hadm_id            charttime            storetime  \
26800     17717614  24272644  2133-05-23 20:24:00  2133-05-23 20:24:00
209232    13808136  26406341  2136-12-27 10:25:00  2136-12-27 10:25:00
757627    12885965  27710782  2163-01-12 16:00:00  2163-01-12 16:08:00
404267    14361828  28861438  2194-07-10 11:25:00  2194-07-10 11:25:00
396612    18252574  27222007  2150-10-14 08:06:00  2150-10-14 08:07:00
742138    16483860  24545691  2190-08-20 19:46:00  2190-08-20 19:46:00
704704    14399359  28122689  2143-11-15 04:00:00  2143-11-15 06:21:00
89162     17190208  26495862  2196-11-15 17:25:00  2196-11-15 17:25:00
714032    17773309  26323835  2113-03-28 00:37:00  2113-03-28 00:37:00
537369    12719912  26680768  2146-05-21 00:47:00  2146-05-21 00:47:00
885098    17277379  22840721  2120-04-22 13:53:00  2120-04-22 13:54:00
30939     11116316  21266774  2165-04-10 00:19:00  2165-04-10 00:19:00
495778    14391648  25754599  2115-02-19 00:44:00  2115-02-19 00:44:00
442391    15701559  20996763  2131-07-16 00:15:00  2131-07-16 00:15:00
726102    10933772  21418086  2142-06-11 12:00:00  2142-06-11 12:36:00

        itemid value  valuenum valueuom
26800   225722     0       0.0      NaN
209232  227726     1       1.0      NaN
757627  225723     0       0.0      NaN
404267  225734     1       1.0      NaN
396612  225722     0       0.0      NaN
742138  225722     0       0.0      NaN
704704  225722     0       0.0      NaN
89162   225726     0       0.0      NaN
714032  225724     0       0.0      NaN
537369  225722     0       0.0      NaN
885098  225724     0       0.0      NaN
30939   225722     0       0.0      NaN
495778  225729     0       0.0      NaN
442391  225729     1       1.0      NaN
726102  225729     0       0.0      NaN

In [16]:
# 筛选出itemid为225734的数据
data_225734 = selected_data[selected_data['itemid'] == 225734]

# 计算数值分布
value_counts = data_225734['value'].value_counts()

# 输出结果
print(value_counts)

0    46
1     8
Name: value, dtype: int64

In [15]:
# 统计每个itemid值出现的次数
item_counts = selected_data['itemid'].value_counts()

# 统计不同的itemid值的数量
num_items = len(item_counts)

# 输出结果
print("共有{}个不同的itemid值".format(num_items))
print("每个itemid值的出现次数如下：")
print(item_counts)

共有16个不同的itemid值
每个itemid值的出现次数如下：
225722    9317
225729    7810
225732    4024
225724    2341
225725    1283
225730    1100
225723     579
226131     472
225728     323
227726     275
225735     215
225768     204
225726     135
225734      54
225731      44
225736      18
Name: itemid, dtype: int64

In [22]:
selected_data =selected_data.drop(['storetime','valueuom','valuenum'], axis=1)

In [43]:
# 筛选出itemid为225734的数据
data_225734 = selected_data[selected_data['itemid'] == 225734]

# 计算数值分布
value_counts = data_225734['value'].value_counts()

# 输出结果
print(value_counts)

Series([], Name: value, dtype: int64)

In [24]:
selected_data = selected_data.reset_index(drop=True)

In [25]:
selected_data.head()

   subject_id   hadm_id            charttime  itemid value
0    10027602  28166872  2201-10-31 09:00:00  225722     0
1    10027602  28166872  2201-10-31 15:00:00  225722     0
2    10027602  28166872  2201-10-31 15:15:00  226131     0
3    10027730  23954590  2165-07-11 10:03:00  225731     0
4    10029291  22205327  2123-03-02 20:00:00  225729     0

In [27]:
selected_data['itemid'].value_counts()

225722    9317
225729    7810
225732    4024
225724    2341
225725    1283
225730    1100
225723     579
226131     472
225728     323
227726     275
225735     215
225768     204
225726     135
225734      54
225731      44
225736      18
Name: itemid, dtype: int64

In [ ]:
selected_data.to_csv('chartresults.csv', index=False)

In [29]:
chartresults=pd.read_csv('chartresults.csv')

In [30]:
chartresults.head()

   subject_id   hadm_id            charttime  itemid  value
0    10027602  28166872  2201-10-31 09:00:00  225722      0
1    10027602  28166872  2201-10-31 15:00:00  225722      0
2    10027602  28166872  2201-10-31 15:15:00  226131      0
3    10027730  23954590  2165-07-11 10:03:00  225731      0
4    10029291  22205327  2123-03-02 20:00:00  225729      0

In [31]:
chartresults.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28194 entries, 0 to 28193
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   subject_id  28194 non-null  int64
 1   hadm_id     28194 non-null  int64
 2   charttime   28194 non-null  object
 3   itemid      28194 non-null  int64
 4   value       28194 non-null  int64
dtypes: int64(4), object(1)
memory usage: 1.1+ MB

In [45]:
# 筛选出itemid为225734的数据
data_225734 = chartresults[chartresults['itemid'] == 225722]

# 计算数值分布
value_counts = data_225734['value'].value_counts()

# 输出结果
print(value_counts)

0    9044
1     273
Name: value, dtype: int64

In [32]:
import re

# 将所有以"white"开头的字符串替换为"white"
selected_data['itemid'] = selected_data['itemid'].apply(
    lambda x: re.sub(r'^225722.*', 'Cul_Arterial', str(x)))
selected_data['itemid'] = selected_data['itemid'].apply(
    lambda x: re.sub(r'^225729.*', 'Cul_Lumen', str(x)))
selected_data['itemid'] = selected_data['itemid'].apply(
    lambda x: re.sub(r'^225732.*', 'Cul_PICC', str(x)))
selected_data['itemid'] = selected_data['itemid'].apply(
    lambda x: re.sub(r'^225724.*', 'Cul_Cordis', str(x)))
selected_data['itemid'] = selected_data['itemid'].apply(
    lambda x: re.sub(r'^225725.*', 'Cul_Catheter', str(x)))
selected_data['itemid'] = selected_data['itemid'].apply(
    lambda x: re.sub(r'^225730.*', 'Cul_PA', str(x)))
selected_data['itemid'].value_counts()

Cul_Arterial    9317
Cul_Lumen       7810
Cul_PICC        4024
Cul_Cordis      2341
Cul_Catheter    1283
Cul_PA          1100
225723           579
226131           472
225728           323
227726           275
225735           215
225768           204
225726           135
225734            54
225731            44
225736            18
Name: itemid, dtype: int64

In [33]:
selected_data.head()

   subject_id   hadm_id            charttime        itemid value
0    10027602  28166872  2201-10-31 09:00:00  Cul_Arterial     0
1    10027602  28166872  2201-10-31 15:00:00  Cul_Arterial     0
2    10027602  28166872  2201-10-31 15:15:00        226131     0
3    10027730  23954590  2165-07-11 10:03:00        225731     0
4    10029291  22205327  2123-03-02 20:00:00     Cul_Lumen     0

In [34]:
# put the others in the same category: other_culture
selected_data['itemid'].loc[~selected_data['itemid'].isin(
    selected_data['itemid'].value_counts().nlargest(6).index.tolist())] = 'other_culture'
selected_data['itemid'].value_counts()

/var/folders/ck/8r_z2td51y379bxk8krf4ss00000gn/T/ipykernel_6700/3759293435.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  selected_data['itemid'].loc[~selected_data['itemid'].isin(

Cul_Arterial     9317
Cul_Lumen        7810
Cul_PICC         4024
Cul_Cordis       2341
other_culture    2319
Cul_Catheter     1283
Cul_PA           1100
Name: itemid, dtype: int64

In [36]:
#selected_data.to_csv('chart_final.csv', index=False)

In [40]:
# 创建新列并初始化为0
selected_data["Cul_Arterial"] = 0

# 根据itemid和value列的值，将Cul_Arterial列标记为1
selected_data.loc[(selected_data["itemid"] == "Cul_Arterial") & (
    selected_data["value"] == "1"), "Cul_Arterial"] = 1

In [38]:
selected_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28194 entries, 0 to 28193
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   subject_id    28194 non-null  int64
 1   hadm_id       28194 non-null  int64
 2   charttime     28194 non-null  object
 3   itemid        28194 non-null  object
 4   value         28194 non-null  object
 5   Cul_Arterial  28194 non-null  int64
dtypes: int64(3), object(3)
memory usage: 1.3+ MB

In [87]:
selected_data['Cul_Arterial'].value_counts()

0    27921
1      273
Name: Cul_Arterial, dtype: int64

In [47]:
selected_data["Cul_Lumen"] = 0

# 根据itemid和value列的值，将Cul_Arterial列标记为1
selected_data.loc[(selected_data["itemid"] == "Cul_Lumen") & (
    selected_data["value"] == "1"), "Cul_Lumen"] = 1

In [88]:
selected_data['Cul_Lumen'].value_counts()

0    27356
1      838
Name: Cul_Lumen, dtype: int64

In [49]:
selected_data["Cul_PICC"] = 0

# 根据itemid和value列的值，将Cul_Arterial列标记为1
selected_data.loc[(selected_data["itemid"] == "Cul_PICC") & (
    selected_data["value"] == "1"), "Cul_PICC"] = 1

In [89]:
selected_data['Cul_PICC'].value_counts()

0    27872
1      322
Name: Cul_PICC, dtype: int64

In [50]:
selected_data["Cul_Cordis"] = 0

# 根据itemid和value列的值，将Cul_Arterial列标记为1
selected_data.loc[(selected_data["itemid"] == "Cul_Cordis") & (
    selected_data["value"] == "1"), "Cul_Cordis"] = 1

In [90]:
selected_data['Cul_Cordis'].value_counts()

0    28040
1      154
Name: Cul_Cordis, dtype: int64

In [76]:
# 创建新列并初始化为0
selected_data["other_culture_new"] = 0

# 根据itemid和value列的值，将other_culture_new列标记为1
selected_data.loc[(selected_data["itemid"] == "other_culture") & (
    selected_data["value"] == "1"), "other_culture_new"] = 1

In [92]:
selected_data["Cul_Catheter"] = 0

# 根据itemid和value列的值，将Cul_Arterial列标记为1
selected_data.loc[(selected_data["itemid"] == "Cul_Catheter") & (
    selected_data["value"] == "1"), "Cul_Catheter"] = 1

In [93]:
selected_data['Cul_Catheter'].value_counts()

0    27979
1      215
Name: Cul_Catheter, dtype: int64

In [94]:
selected_data["Cul_PA"] = 0

# 根据itemid和value列的值，将Cul_Arterial列标记为1
selected_data.loc[(selected_data["itemid"] == "Cul_PA") & (
    selected_data["value"] == "1"), "Cul_PA"] = 1

In [95]:
selected_data['Cul_PA'].value_counts()

0    28158
1       36
Name: Cul_PA, dtype: int64

In [97]:
selected_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28194 entries, 0 to 28193
Data columns (total 14 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   subject_id         28194 non-null  int64
 1   hadm_id            28194 non-null  int64
 2   charttime          28194 non-null  object
 3   itemid             28194 non-null  object
 4   value              28194 non-null  object
 5   Cul_Arterial       28194 non-null  int64
 6   Cul_Cul_Lumen      28194 non-null  int64
 7   Cul_Lumen          28194 non-null  int64
 8   Cul_PICC           28194 non-null  int64
 9   Cul_Cordis         28194 non-null  int64
 10  other_culture      28194 non-null  int64
 11  Cul_Catheter       28194 non-null  int64
 12  Cul_PA             28194 non-null  int64
 13  other_culture_new  28194 non-null  int64
dtypes: int64(11), object(3)
memory usage: 3.0+ MB

In [77]:
selected_data['other_culture_new'].value_counts()

0    28064
1      130
Name: other_culture_new, dtype: int64

In [98]:
selected_data=selected_data.drop(["Cul_Cul_Lumen", "value","other_culture","itemid"], axis=1)

In [99]:
selected_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28194 entries, 0 to 28193
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   subject_id         28194 non-null  int64
 1   hadm_id            28194 non-null  int64
 2   charttime          28194 non-null  object
 3   Cul_Arterial       28194 non-null  int64
 4   Cul_Lumen          28194 non-null  int64
 5   Cul_PICC           28194 non-null  int64
 6   Cul_Cordis         28194 non-null  int64
 7   Cul_Catheter       28194 non-null  int64
 8   Cul_PA             28194 non-null  int64
 9   other_culture_new  28194 non-null  int64
dtypes: int64(9), object(1)
memory usage: 2.2+ MB

In [100]:
selected_data = selected_data.rename(columns={'other_culture_new': 'other_culture'})

In [101]:
selected_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28194 entries, 0 to 28193
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   subject_id     28194 non-null  int64
 1   hadm_id        28194 non-null  int64
 2   charttime      28194 non-null  object
 3   Cul_Arterial   28194 non-null  int64
 4   Cul_Lumen      28194 non-null  int64
 5   Cul_PICC       28194 non-null  int64
 6   Cul_Cordis     28194 non-null  int64
 7   Cul_Catheter   28194 non-null  int64
 8   Cul_PA         28194 non-null  int64
 9   other_culture  28194 non-null  int64
dtypes: int64(9), object(1)
memory usage: 2.2+ MB

In [102]:
selected_data.to_csv("chart_final.csv",index=False)