Find the patients whose diagnosis is sepsis, and marked as 1 in the column sepsis

In [1]:
import pandas as pd
#import the data
mimic_path='/Users/jieche/Desktop/machine learning/mimic-iv-2.2/'

In [2]:
icds = pd.read_csv(mimic_path + 'hosp/diagnoses_icd.csv.gz',compression='gzip')

icds.head()

   subject_id   hadm_id  seq_num icd_code  icd_version
0    10000032  22595853        1     5723            9
1    10000032  22595853        2    78959            9
2    10000032  22595853        3     5715            9
3    10000032  22595853        4    07070            9
4    10000032  22595853        5      496            9

In [3]:
icds.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4756326 entries, 0 to 4756325
Data columns (total 5 columns):
 #   Column       Dtype
---  ------       -----
 0   subject_id   int64
 1   hadm_id      int64
 2   seq_num      int64
 3   icd_code     object
 4   icd_version  int64
dtypes: int64(4), object(1)
memory usage: 181.4+ MB

In [4]:
group_icd_codes = True
if group_icd_codes:
    icds["icd_code"] = icds["icd_code"].apply(lambda x: str(x)[:8])

In [5]:
icds.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4756326 entries, 0 to 4756325
Data columns (total 5 columns):
 #   Column       Dtype
---  ------       -----
 0   subject_id   int64
 1   hadm_id      int64
 2   seq_num      int64
 3   icd_code     object
 4   icd_version  int64
dtypes: int64(4), object(1)
memory usage: 181.4+ MB

In [ ]:
sepsis_patients = icds[icds['icd_code'].str.contains('O244|648')]

num_patients = sepsis_patients.shape[0]

print("There are", num_patients, "diagnoses of Sepsis.")

In [6]:
# 创建新列并初始化为0
icds["sepsis"] = 0

# 根据ICD-9和ICD-10编码筛选诊断为Sepsis的记录，并在新列中标记为1
icds.loc[icds["icd_code"].str.startswith("A40") | icds["icd_code"].str.startswith("A41") | icds["icd_code"].str.startswith("9953"), "sepsis"] = 1
icds.loc[icds["icd_code"].str.startswith("038") | icds["icd_code"].str.startswith("9959"), "sepsis"] = 1

In [7]:
icds.sepsis.value_counts()

0    4731778
1      24548
Name: sepsis, dtype: int64

In [8]:
icds.head()

   subject_id   hadm_id  seq_num icd_code  icd_version  sepsis
0    10000032  22595853        1     5723            9       0
1    10000032  22595853        2    78959            9       0
2    10000032  22595853        3     5715            9       0
3    10000032  22595853        4    07070            9       0
4    10000032  22595853        5      496            9       0

In [9]:
icds=icds.drop(['icd_code','seq_num','icd_version'], axis=1)

In [10]:
icds.head()

   subject_id   hadm_id  sepsis
0    10000032  22595853       0
1    10000032  22595853       0
2    10000032  22595853       0
3    10000032  22595853       0
4    10000032  22595853       0

In [11]:
icds.to_csv('diag_sep.csv', index=False)